services:
  postgres:
    image: postgres:15
    container_name: airflow_postgres
    environment:
      POSTGRES_USER: airflow
      POSTGRES_PASSWORD: airflow
      POSTGRES_DB: airflow
    ports:
      - "5432:5432"
    volumes:
      - postgres_db:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U airflow"]
      interval: 5s
      timeout: 5s
      retries: 5

  airflow-init:
    image: apache/airflow:2.10.2
    container_name: airflow_init
    depends_on:
      postgres:
        condition: service_healthy
    environment:
      AIRFLOW__CORE__EXECUTOR: LocalExecutor
      AIRFLOW__DATABASE__SQL_ALCHEMY_CONN: postgresql+psycopg2://airflow:airflow@postgres:5432/airflow
    volumes:
      - C:\Users\remyh\Documents\dev\TMDB-MongoDB-Fetcher:/opt/airflow
    entrypoint: /bin/bash
    command: -c "
      pip install --no-cache-dir \
        --constraint https://raw.githubusercontent.com/apache/airflow/constraints-2.10.2/constraints-3.12.txt \
        -r /opt/airflow/requirements.txt && \
      airflow db upgrade && \
      airflow users create -u admin -p admin -r Admin -e admin@example.com -f Admin -l User"

  airflow-webserver:
    image: apache/airflow:2.10.2
    container_name: airflow_webserver
    depends_on:
      airflow-init:
        condition: service_completed_successfully
      postgres:
        condition: service_healthy
    environment:
      AIRFLOW__CORE__EXECUTOR: LocalExecutor
      AIRFLOW__DATABASE__SQL_ALCHEMY_CONN: postgresql+psycopg2://airflow:airflow@postgres:5432/airflow
    volumes:
      - C:\Users\remyh\Documents\dev\TMDB-MongoDB-Fetcher/dags:/opt/airflow/dags
      - C:\Users\remyh\Documents\dev\TMDB-MongoDB-Fetcher/logs:/opt/airflow/logs
      - C:\Users\remyh\Documents\dev\TMDB-MongoDB-Fetcher/plugins:/opt/airflow/plugins
    ports:
      - "8080:8080"
    command: webserver

  airflow-scheduler:
    image: apache/airflow:2.10.2
    container_name: airflow_scheduler
    depends_on:
      - airflow-webserver
      - postgres
    environment:
      AIRFLOW__CORE__EXECUTOR: LocalExecutor
      AIRFLOW__DATABASE__SQL_ALCHEMY_CONN: postgresql+psycopg2://airflow:airflow@postgres:5432/airflow
    volumes:
      - C:\Users\remyh\Documents\dev\TMDB-MongoDB-Fetcher/dags:/opt/airflow/dags
      - C:\Users\remyh\Documents\dev\TMDB-MongoDB-Fetcher/logs:/opt/airflow/logs
      - C:\Users\remyh\Documents\dev\TMDB-MongoDB-Fetcher/plugins:/opt/airflow/plugins
    command: scheduler

volumes:
  postgres_db:
